---
layout: default
---
<div class="post">
  <header class="post-header" style="text-align: center; margin-bottom: 2.0rem; margin-top: -1.1rem;">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        <span class="font-weight-bold">{{ site.last_name }}</span>
        <span style="margin-left: 0.5em; font-size: 0.90em;" class="font-weight-bold">蒋怀德</span>
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>

    <p class="desc" style="margin-top: 1.0rem;">{{ page.subtitle }}</p>

    {% if page.social %}
      <div class="profile-social">
        <a href="mailto:{{ site.data.socials.email }}" title="Email">
          <i class="fa-solid fa-envelope"></i>
          <span>Email</span>
        </a>
        <a href="https://scholar.google.com/citations?user={{ site.data.socials.scholar_userid }}" target="_blank" title="Google Scholar">
          <i class="ai ai-google-scholar"></i>
          <span>Scholar</span>
        </a>
        <a href="https://www.linkedin.com/in/{{ site.data.socials.linkedin_username }}" target="_blank" title="LinkedIn">
          <i class="fa-brands fa-linkedin"></i>
          <span>LinkedIn</span>
        </a>
        <a href="https://github.com/{{ site.data.socials.github_username }}" target="_blank" title="GitHub">
          <i class="fa-brands fa-github"></i>
          <span>GitHub</span>
        </a>
        <a href="https://www.xiaohongshu.com/user/profile/668ab073000000000f0346b1" target="_blank" title="RedNote">
          <div class="custom-icon-wrapper">
            <img class="icon-light" src="{{ '/assets/img/RedNote-light.png' | relative_url }}" alt="RedNote">
            <img class="icon-dark" src="{{ '/assets/img/RedNote-dark.png' | relative_url }}" alt="RedNote">
          </div>
          <span>RedNote</span>
        </a>
      </div>
    {% endif %}
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts and page.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    {% if site.contact_note %}
      <div class="social">
        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
